<header class="sub-header">
	<h2>Logga in</h2>
</header>

<div id="register-form">

	<%= form_tag(login_path, method: 'post') do %>

		<div class="form-two-column">
			<%= label_tag :email %>
			<%= email_field_tag :email %>
		</div>

		<div class="form-two-column">
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</div>

		<div class="form-two-column">
			<%= submit_tag "Logga in", :class => 'btn btn-blue' %>
		</div>

	<% end %>
</div>